<template>
    <div class="container">
        <div class="nav">
             <MenuComponent
            :decks = "arrDecks"
            @selectDeck="selectDeck"
             ></MenuComponent>
        </div>
        <div class="main-container">
            <CardContainer
                :objCard = "objCard"
            >
            </CardContainer>
        </div>
    </div>
</template>

<script>
import Data from './assets/data.js';
import Util from './assets/Util.js';

import MenuComponent from './components/Menu.vue';
import CardContainer from './components/CardContainer.vue';

export default {
    name: 'app',
    components: {
        MenuComponent,
        CardContainer
    },
    data() {
        return {
            arrDecks : Data.decksProps,
            objCard : Data.decks[0]
        }
    },
    mounted:function() {
    },
    created: function() {
    },
    methods: {
        selectDeck: function(deckId) {
            this.objCard = Data.decks[deckId];
        }
    }
}
</script>

<style lang="scss">
   @import 'main.scss'
</style>