
html,body {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body,* {
    margin: 0;
    padding: 0;
}

ul li:hover {
    cursor: pointer;
}

ul li {
    list-style: none;
}

button {
    border: 1px solid #ddd;
    background: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}

.container {
    width: 90%;
    height: 100%;
    margin: 1em auto;
    text-align: center;
}

.nav {
    width: 20%;
    float: left;
    .deck-nav-menu {
        font-size: 17px;

        li {
            height: 40px;
            line-height: 40px;

            &:hover {
                background: #ddd;
            }

            .text {
                text-align: left;
                margin-left: 50px;
            }
        }
    }

}

.main-container {
    float: left;
    width: 60%;
    text-align: center;
}

.card-view {
    .card {
        font-size: 30px;
        width: 20%;
        margin: 0 auto;
        border-radius: 3px;
    }
}


.options {
    margin-top: 15px;

    button {
        padding: 5px 10px;
        cursor: pointer;
        background: #2da3ff;
        color: white;
        border: none;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        margin-left: 10px;
        margin-right: 10px;
    }
    button:hover {
        background: #7795f8;
    }
    button:active {
        box-shadow: none;
    }
}