<template>
    <div>
        <div class="card">
            {{objCard}}
        </div>
    </div>
</template>

<script>
export default {
    name: 'app',
    props: {
        objCard: {
            type: Array
        }
    },
    data() {
        return {
        }
    },
    methods: {
    }

}
</script>