<template>
    <div>
        <ul class="deck-nav-menu">
            <li
             v-for="item in decks"
             @click="selectDeck(item.id)"
            >
                <div class="text">
                    {{item.name}}
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'app',
    props: {
        decks: {
            type: Array
        }
    },
    data() {
        return {
        }
    },
    methods: {
        selectDeck: function(id) {
            this.$emit('selectDeck', id);
        }
    }

}
</script>